<!DOCTYPE html5>

<head>
    <title>网络灰产分析</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Frontend/net.css">
    <style>
        .Test{
  display: inline-block;
  width: 90px;
  height: 90px;
  background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
}
.Test img{
  mix-blend-mode: overlay;
}
    </style>
</head>

<body>
    <h2 align="center">网络灰产分析--子图展示</h2>
    <div class="left-div-class">
        <p align="center" class="explain-text-class">
            <scan>设置 & 选择</scan>

            <!--左侧选择栏：选择问题1 or 问题2-->
            <select class="select-class" id="select1-id">
                <option value="0" class="head-option-class">请选择所要展示的内容</option>
                <option value="1" class="option-class">Base</option>
                <option value="2" class="option-class">Challenge</option>
            </select><br /><br />

            <!--按钮选择-->
            <button class="button-class" onclick="showSettingBlock('div-layer-id','div-box-id')"
                id="setting-button-id">设置</button><br /><br />
            <button class="button-class" onclick="">展示</button><br /><br />
            <button class="button-class" onclick="">...</button><br /><br />
            <button class="button-class" onclick="">...</button><br /><br />
        </p>
        <hr />
        
        <!--设置按钮弹出框-->
        <div id="div-layer-id" class="layer-class"></div>
        <div id="div-box-id" class="block-box-class">
            <div class="close-box-class">
                <a onclick="closeSettingBlock('div-layer-id','div-box-id')">×</a>
            </div>
            
            <div class="setting-content-class">
                <p style="text-align: center;font-weight: bold;font-size: large;">
                    <scan>设置</scan>
                </p>
                <div style="left: 10px;position: relative;float: left;">
                    <p style="font-size: small;">请选择子图展示方式（默认只显示关键结点）</p>
                    <select class="common-select-class" id="inner-select1">
                        <option value="0" class="head-option-class">默认</option>
                        <option value="1" class="option-class">仅展示关键结点</option>
                        <option value="2" class="option-class">展示关键结点和关键链路</option>
                        <option value="3" class="option-class">一次性展示所有内容</option>
                        <option value="2" class="option-class">自主点选展示</option>
                    </select>
                    
                    <p style="font-size: small;">...</p>
                    <select class="common-select-class" id="inner-select2">
                        <option value="0" class="head-option-class">默认</option>
                        <option value="1" class="option-class">...</option>
                    </select><br />
                </div>
            </div>

            <div class="setting-setting-class">
                <p align="center">
                    <button class="setting-setting-button-class" onclick="saveSetting()">保存</button>
                    <button class="setting-setting-button-class" onclick="save_quitSetting('div-layer-id','div-box-id')">保存并退出</button>
                    <button class="setting-setting-button-class" onclick="quitSetting('div-layer-id','div-box-id')">退出</button>
                </p>
            </div>
        </div>
        

        <!--子图信息展示-->
        <p align="center" class="explain-text-class">
            <scan>所选子图信息</scan>
        </p>

        <!--子图信息表格-->
        <p align="center" class="info-text-class">
            <table align="center" width="160" border="1" bordercolor="#2F4F4F" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="info-text-class">子图总览</td>
                    <td class="info-text-class">...</td>
                </tr>
                <tr>
                    <td class="info-text-class">点数</td>
                    <td class="info-text-class">185</td>
                </tr>
                <tr>
                    <td class="info-text-class">Domain</td>
                    <td class="info-text-class">150</td>
                </tr>
                <tr>
                    <td class="info-text-class">Certificate</td>
                    <td class="info-text-class">26</td>
                </tr>
                <tr>
                    <td class="info-text-class">IP</td>
                    <td class="info-text-class">8</td>
                </tr>
                <tr>
                    <td class="info-text-class">ASN</td>
                    <td class="info-text-class">1</td>
                </tr>
                <tr>
                    <td class="info-text-class">边数</td>
                    <td class="info-text-class">750</td>
                </tr>
                <tr>
                    <td class="info-text-class">r_cert</td>
                    <td class="info-text-class">224</td>
                </tr>
                <tr>
                    <td class="info-text-class">r_dns_a</td>
                    <td class="info-text-class">329</td>
                </tr>
                <tr>
                    <td class="info-text-class">r_cname</td>
                    <td class="info-text-class">101</td>
                </tr>
                <tr>
                    <td class="info-text-class">r_cert_chain</td>
                    <td class="info-text-class">21</td>
                </tr>
                <tr>
                    <td class="info-text-class">r_asn</td>
                    <td class="info-text-class">2</td>
                </tr>
                <tr>
                    <td class="info-text-class">r_cidr</td>
                    <td class="info-text-class">2</td>
                </tr>
                <tr>
                    <td class="info-text-class">r_subdomain</td>
                    <td class="info-text-class">64</td>
                </tr>
                <tr>
                    <td class="info-text-class">r_request_jump</td>
                    <td class="info-text-class">7</td>
                </tr>
            </table>
            <!--
            <scan>子图：（TODO）</scan><br />
            <scan>结点数：185</scan><br />
            <scan>边数：750</scan><br />
            <scan>TODO</scan><br />
            -->
            
        </p>
    </div>

    <div class="center-div-class">
        <div class="center-top-class">
            <p style="text-align: center;">
                <button class="border-select-class" style="left: 410px;" onclick="prevSelect()"><</button>
                <img alt="" src="/Frontend/images/0.jpg" height="100" width="100" id="img0-id" ImageId="0">
                <scan>&nbsp;</scan>
                <img alt="" src="/Frontend/images/1.jpg" height="130" width="130" id="img1-id" ImageId="1">
                <scan>&nbsp;</scan>
                <img alt="" src="/Frontend/images/2.jpg" height="100" width="100" id="img2-id" ImageId="2">
                <button class="border-select-class" style="left: 790px;" onclick="nextSelect()">></button>
                <br />
                <scan>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</scan>
                <scan id="select-scan-id">子图1</scan>
            </p>
        </div>
        <p style="text-align: center;">
            <img src="/Frontend/pics/test2.png" height="660" width="910">
        </p>
    </div>
    
    <script type="text/javascript" src="/Frontend/js/SettingBlock.js"></script>
    <script type="text/javascript">
        initAll();
    </script>
</body>